.heading {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}
.img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}
.bioCOnt {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav {
  background-color: black;
  padding: 10px 0px 10px 40px;
}
ul {
  display: flex;
}
ul li {
  margin: 10px;
}
li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
ul li a:hover {
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  color: black;
}
@media only screen and (max-width: 520px) {
  ul {
    display: block;
  }
  ul li {
    margin-top: 30px;
  }
  li a:hover {
    width: 100%;
  }
}
